
<div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-3">Nombre</th>
                        <th class="col-md-9">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in categories" ng-click="selectCategory($index,c)" ng-class="{'selected':$index == selectedIndex}">
                        <th class="col-md-3">{{c.name}}</th>
                        <th class="col-md-9">{{c.description}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table>
                <tr>
                    <td class="col-md-2" ng-hide="selectedIndex == -1">
                        <input type="button" value="Editar" ng-click="showForm()" class="btn btn-warning"/>
                    </td>
                    <td class="col-md-2" ng-hide="selectedIndex == -1">
                        <input type="button" value="Borrar" ng-click="delete()" class="btn btn-danger"/>
                    </td>
                    <td class="col-md-2" ng-hide="selectedIndex == -1">
                        <input type="button" value="Limpiar" ng-click="cleanSelection()" class="btn btn-danger"/>
                    </td>
                    <td class="col-md-2" ng-hide="selectedIndex != -1">
                        <input type="button" value="Agregar" ng-click=""  class="btn btn-primary"/>
                    </td>
                </tr>
            </table>
            
        </div>
</div>

<style type="text/css">
    .selected{
        background-color:black;
        color:white;
        font-weight:bold;
    }
</style>
