
<div class="row">
    <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-6">Nombre</th>
                        <th class="col-md-6">Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="c in categories" ng-click="selectCategory($index,c)" ng-class="{'selected':$index == selectedIndex}">
                        <th class="col-md-6">{{c.name}}</th>
                        <th class="col-md-6">{{c.description}}</th>
                        <th hidden="true">{{c._id}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
       <!-- <div class="col-md-12">
            <table>
                <tr>
                    <td class="col-md-2" ng-hide="selectedIndex == -1">
                        <input type="button" value="Editar" ng-click="openDialog()" class="btn btn-warning"/>
                    </td>
                    <td class="col-md-2" ng-hide="selectedIndex == -1">
                        <input type="button" value="Borrar" ng-click="delete()" class="btn btn-danger"/>
                    </td>
                    <td class="col-md-2" ng-hide="selectedIndex == -1">
                        <input type="button" value="Limpiar" ng-click="cleanSelection()" class="btn btn-danger"/>
                    </td>
                    <td class="col-md-6" ng-hide="selectedIndex != -1">
                        <input type="button" value="Agregar" ng-click="openDialog()" class="btn btn-primary"/>
                    </td>
                </tr>
            </table> -->
            
        </div>
</div>



<nav class="navbar-fixed-bottom">
    <md-fab-toolbar md-open="isOpen" >
        <md-fab-trigger class="align-with-text">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon md-svg-src="img/icons/ic_menu_black_24px.svg"></md-icon>
            </md-button>
        </md-fab-trigger>
        <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">
                <div ng-show="selectedIndex == -1">  
                    <md-button ng-click="showAdvanced($event)" aria-label="comment" class="md-icon-button">
                      <md-icon md-svg-src="img/icons/ic_add_black_24px.svg"></md-icon>
                    </md-button>
                </div> 
                <div ng-show="selectedIndex >= 0">
                    <md-button aria-label="label" ng-click="delete()" class="md-icon-button">
                      <md-icon md-svg-src="img/icons/ic_remove_black_24px.svg"></md-icon>
                    </md-button>
                    <md-button ng-click="showAdvanced($event)" aria-label="photo" class="md-icon-button">
                      <md-icon md-svg-src="img/icons/ic_update_black_24px.svg"></md-icon>
                    </md-button>  
                </div>
                <md-button class="md-right" aria-label="photo" class="md-icon-button" ng-click="closeNav()">
                  <md-icon md-svg-src="img/icons/ic_clear_black_24px.svg"></md-icon>
                </md-button> 
            </md-fab-actions>
        </md-toolbar>
    </md-fab-toolbar>
</nav> 
     

     
     
<!--<script type="text/ng-template" id="crudDialog">
    <table>
        <tr>
            <td>
                Nombre: 
            </td>
            <td> 
                <input type="text" ng-model="category.name"/>
            </td>
        </tr>
        <tr>
            <td>
                Descripción: 
            </td>   
            <td>
                <input type="text" ng-model="category.description"/>
            </td>
            <td>
                <input type="hidden" ng-model="category._id"/>
            </td>
        </tr>
        <tr>
            <input type="button" class="btn btn-primary" value="Confirmar" ng-click="selectedIndex < 0 ? save() : update()"/>
        </tr>
    </table>-->
    
   

    
</script>

<style type="text/css"> 

    .selected{
        background-color:black;
        color:white;
        font-weight:bold;
    }
    
</style>
